extends layouts/main-layout.pug

<<<<<<< HEAD
block content
=======
block content    
>>>>>>> JasonJin
    script.
        var postId = '!{postId}'
    .postsContainer

<<<<<<< HEAD
    +createReplyModal(userLoggedIn)
=======
    +createPostModals(userLoggedIn)
>>>>>>> JasonJin

block scripts
    script(src="/js/postPage.js")